<%
  # locals: house, domain, checks_by_key
  items = domain.items
  rated = items.count { |i| checks_by_key.key?(i.key) }
%>
<details class="border rounded mb-2" <%= "open" if domain == Checklist.domains.first %>>
  <summary class="cursor-pointer px-3 min-h-11 bg-gray-50 flex items-center justify-between">
    <span class="font-medium"><%= domain.label_ko %></span>
    <%= render "shared/domain_progress", domain: domain, rated: rated %>
  </summary>
  <div class="px-3">
    <% items.each do |item| %>
      <%= render "inspection_checks/check_row",
                 house: house,
                 item: item,
                 check: checks_by_key[item.key] %>
    <% end %>
  </div>
</details>
